---
import Layout from "../../layouts/Layout.astro"
const data = [
    {name: "Instagram", title:"safar19x", link:"https://www.instagram.com/safar19x/"},
    {name: "Github", title:"safarrr" , link:"https://github.com/safarrr"},
    {name: "Linkedin", title:"safarudin19 / safarudin" , link:"https://www.linkedin.com/in/safarudin19/"},
    {name: "Email", title:"safar190305@gmail.com" , link:"mailto:safar190305@gmail.com?subject=(texthere)-fromWeb"},
]
---

<Layout title="Social">
    <section class="flex flex-col justify-center items-center ">
        {data.map((data)=>(
            <div class="flex flex-col items-center prose w-full">
            <h3>{data.name}</h3>
            <a href={data.link} target="_blank" rel="noopener noreferrer" class=" no-underline hover:underline">{data.title}</a>
            </div>
        ))}
    </section>
</Layout>