---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404">
    <section class="w-screen h-[50vh]  flex flex-col justify-center items-center">
<h1 class="text-black font-black text-3xl ">404</h1>
<h3 class=" uppercase">pages not found</h3>
    </section>
</Layout>