---
// import CardCraft from '../components/CardCraft.astro';
import Layout from '../layouts/Layout.astro';
const craft = await Astro.glob('../content/craft/*.md');
const data = [
	{name: "Instagram", title:"safar19x", link:"https://www.instagram.com/safar19x/"},
    {name: "Github", title:"safarrr" , link:"https://github.com/safarrr"},
    {name: "Linkedin", title:"safarudin19 / safarudin" , link:"https://www.linkedin.com/in/safarudin19/"},
    {name: "Email", title:"safar190305@gmail.com" , link:"mailto:safar190305@gmail.com?subject=(texthere)-fromWeb"},
]
---

<Layout title="safarudin">
	<div class="w-full md:mx-auto md:max-w-2xl">
	<section class="m-5 bg-white dark:bg-slate-900 dark:text-neutral-50 transition-colors rounded-md p-5"> 
		<h1 class="font-bold text-xl">ABOUT</h1>
		<p class="">Front-End Web Developer from Indonesia. Focus on UI development. keep it simple and clean</p> 	
	</section>
	<section class="m-5 bg-white dark:bg-slate-900 dark:text-neutral-50 transition-colors rounded-md p-5">
		<h1 class="font-bold text-xl uppercase">Craft</h1>
		<div class="flex items-center m-5 flex-wrap justify-start gap-2">
			{craft.map(v=>{
			return <a  href={v.frontmatter.link} class="hover:text-blue-500 hover:underline">
                {v.frontmatter.title}
				</a>
			})}
			</div>
	</section>
	<section class="m-5 bg-white dark:bg-slate-900 dark:text-neutral-50 transition-colors rounded-md p-5">
		<h1 class="font-bold text-xl uppercase">social</h1>
		<div class="flex items-center m-5 flex-wrap justify-start gap-2">
			{data.slice(0, 3).map(v=>{
			return <a target="_blank" rel="noopener noreferrer" href={v.link} class="hover:text-blue-500 hover:underline">
                {v.name}
				</a>
			})}
			</div>
	</section>
</div>
</Layout>
