---
import CardCraft from '../components/CardCraft.astro';
import Layout from '../layouts/Layout.astro';
const craft = await Astro.glob('../content/craft/*.md');
---

<Layout title="safarudin">
	<main class="w-full">
		<section class="w-full m-2 mt-[5%] text-center mx-3">
			<h1 class="font-bold text-xl">ABOUT</h1>
			<p>Front-End Web Developer from Indonesia. Focus on UI development. keep it simple and clean</p>
			
		</section>
		<section class="w-full m-2 mt-[10%] space-y-2 text-center my-3">
			<h1 class="font-bold text-xl uppercase">Craft</h1>
			<div class="flex items-center flex-col lg:flex-row justify-center gap-2 mx-5">
				{craft.slice(0, 3).map(v=>{
					return <CardCraft  link={v.frontmatter.link} title={v.frontmatter.title} imgUrl={v.frontmatter.imgUrl}/>
				})}
			</div>
			<a href="/craft" class="group inline-flex hover:underline"><p>learn more</p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="transition-all ease-in-out duration-300  group-hover:translate-x-2"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></a></a>
		</section>

	</main>
<div class="h-[200px]"></div>
</Layout>
