---
const currentPath = new URL(Astro.request.url).pathname; 
---
<div class="fixed inset-x-0 bottom-0 w-full p-3 justify-center flex ">
    <div class="group/tabs ">

        <div class="inline-flex relative items-center bg-white border-2 border-neutral-200 mx-auto p-2 rounded-full space-x-3 transition-all ease-in-out duration-300 translate-y-0 lg:translate-y-[200%] group-hover/tabs:translate-y-0 ">
            <a href="/" class={`group relative file: inline-flex items-center transition-all ease-in-out duration-300 ${currentPath == "/" ? "text-black" : "text-neutral-500"}`}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
              <span class="pointer-events-none text-black absolute  -inset-x-5 w-max px-3 py-2 border-2 border-neutral-200 rounded-full bg-white -top-5 font-semibold  scale-0  translate-y-0 group-hover:-translate-y-10 group-hover:scale-100 transition-all ease-in-out duration-300">
                Home
              </span>
        </a> 
        <a href="/craft" class={`group relative file: inline-flex items-center transition-all ease-in-out duration-300 ${currentPath == "/craft" ? "text-black" : "text-neutral-500"}`}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-ruler"><path d="m15 5 4 4"/><path d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13"/><path d="m8 6 2-2"/><path d="m2 22 5.5-1.5L21.17 6.83a2.82 2.82 0 0 0-4-4L3.5 16.5Z"/><path d="m18 16 2-2"/><path d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17"/></svg>
              <span class="pointer-events-none text-black absolute -inset-x-10 w-max px-3 py-2 border-2 border-neutral-200 rounded-full bg-white -top-5 font-semibold  scale-0  translate-y-0 group-hover:-translate-y-10 group-hover:scale-100 transition-all ease-in-out duration-300">
                Craft/Project
              </span>
        </a> 
        <a href="/social" class={`group relative file: inline-flex items-center transition-all ease-in-out duration-300 ${currentPath == "/social" ? "text-black" : "text-neutral-500"}`}>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-circle-2"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
              <span class="pointer-events-none text-black absolute -inset-x-5 w-max px-3 py-2 border-2 border-neutral-200 rounded-full bg-white -top-5 font-semibold  scale-0  translate-y-0 group-hover:-translate-y-10 group-hover:scale-100 transition-all ease-in-out duration-300">
                Social
              </span>
        </a> 
        </div>
        <div class="bg-white border-2 border-neutral-200 h-2 rounded-full transition-all ease-in-out duration-300 translate-y-0  group-hover/tabs:translate-y-[200%] hidden lg:block"></div>
    </div>
</div>