---
import "@fontsource/inter"
// import { ViewTransitions } from 'astro:transitions';
import Nav from "../components/Nav.astro";
export interface Props {
	title: string;
}
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/png" href="/safarrr.png" /> -->
		<meta name="description" content="web developer with a special focus on front-end development">
		<link rel="canonical" href="https://safarudin.my.id"/>
		<meta name="keywords" content="web developer, front-end development, safarrr,safarudin">
		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://safarudin.my.id">
		<meta property="og:type" content="website">
		<meta property="og:title" content="safarudin">
		<meta property="og:description" content="web developer with a special focus on front-end development">
		<!-- <meta property="og:image" content="/safarrr.png"> -->
	  
		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="safarudin.my.id">
		<meta property="twitter:url" content="https://safarudin.my.id">
		<meta name="twitter:title" content="safarudin">
		<meta name="twitter:description" content="web developer with a special focus on front-end development">
		<!-- <meta name="twitter:image" content="/safarrr.png"> -->
		<!-- <ViewTransitions/> -->
		<title>{title}</title>
	</head>
	<body class="bg-neutral-100 dark:bg-gray-950 overflow-x-hidden text-black dark:text-neutral-50 transition-colors ease-in-ou font-inter" >
		<section class="sticky top-0 z-50 w-full bg-white dark:bg-gray-950 dark:text-neutral-50 transition-colors">
			<div class="inline-flex items-center justify-between py-2 px-3 w-full">	
				<div class="flex flex-col  p-3 rounded-md ">
					<h1 class="font-black uppercase text-xl">Safarudin</h1>
					<p class="text-sm">Front-End Web Developer</p>
				</div>
				<button id="btnDark"  class="dark:text-neutral-50 text-lg">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette2" viewBox="0 0 16 16">
						<path d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5.277l4.147-4.131a.5.5 0 0 1 .707 0l3.535 3.536a.5.5 0 0 1 0 .708L10.261 10H15.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H3a2.99 2.99 0 0 1-2.121-.879A2.99 2.99 0 0 1 0 13.044m6-.21 7.328-7.3-2.829-2.828L6 7.188v5.647zM4.5 13a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0M15 15v-4H9.258l-4.015 4zM0 .5v12.495z"/>
						<path d="M0 12.995V13a3.07 3.07 0 0 0 0-.005"/>
					  </svg>
				</button>
			</div>
		</section>
		<slot />
		<!-- <Nav/> -->
		<script> 
			const btnDark = document.getElementById("btnDark")
			const el = document.getElementById("html")
			
			btnDark.addEventListener("click",()=>{
				el.classList.toggle("dark")
			})
			if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				el.classList.add("dark")
			}
			 
		</script>
	</body>
</html>
